<section class="pt-16">
    <h2 class="text-4xl font-[poppins] uppercase text-center pt-10 pb-3 text-blue-500">Your Tasks, Organized & Simplified</h2>
    <p class="text-xl text-center mb-16">Don't forget your appointments, tasks, homework... </p>
    <section class="pt-8">
        <div class="flex justify-around px-28">
            <div class="bg-red-500/85 px-3 pt-4 pb-12 w-96 text-gray-50 rounded-2xl">
                <h3 class="text-lg font-semibold border-b-2 border-gray-100">Pending</h3>
                <p class="py-3 border-b border-gray-100">+ Wash the dishes</p>
                <p class="py-3 border-b border-gray-100">+ 10 min Rest</p>
                <p class="py-3 border-b border-gray-100">+ Workout</p>
            </div>
    
            <div class="bg-green-500  px-3 pt-4 pb-12 w-96 text-gray-200 rounded-2xl">
                <h3 class="text-lg font-semibold border-b-2 border-gray-100">Done</h3>
                <p class="py-3 border-b border-gray-100">> Do the laundry</p>
                <p class="py-3 border-b border-gray-100">> Groceries</p>
                <p class="py-3 border-b border-gray-100">> Work</p>
            </div>
        </div>
    </section>
</section>
